<h3>Add User</h3>

<form method="post">
    <div class="mb-2">
        <label>Name</label>
        <input name="firstName" class="form-control" required />
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input name="email" class="form-control" required />
    </div>

    <div class="mb-2">
        <label>Password</label>
        <input name="password" type="password" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Role</label>
        <select name="role" class="form-select">
            <option value="User">User</option>
            <option value="Manager">Manager</option>
        </select>
    </div>

    <button class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

    @if (ViewBag.Error != null)
    {
        <div class="text-danger mt-2">@ViewBag.Error</div>
    }
</form>
